In [1]:
!nvidia-smi

Sun Aug 21 09:18:38 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   53C    P8    11W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [40]:
import torch
import torch.nn as nn

import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler, QuantileTransformer,RobustScaler
from sklearn.metrics import classification_report
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
warnings.filterwarnings("ignore")

In [41]:
def num_cat_split(df):
    num_col = list(df.select_dtypes(include=['number']).columns)
    cat_col = list(set(df.columns) - set(num_col))

    print(f"Numerical columns : \n{num_col}")
    print("")
    print(f"Categorical columns :\n {cat_col}")
    
    return num_col, cat_col

def cabin_letter(x):
    if isinstance(x, str):
        return x[0]
    else:
        return str(np.nan)
    
def featuring(DF):
    DF.drop(['Name','PassengerId', 'Ticket'], axis=1, inplace=True)
    DF['Cabin'] = DF['Cabin'].apply(cabin_letter)
    DF['Embarked'] = DF['Embarked'].str.upper()
    return DF.copy()

In [43]:
DF = pd.read_csv('./train.csv')
DF

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [44]:
p = 0.7 # columns with more than 30 n/a rows 
df_rows = DF.shape[0]
na_freq = DF.isna().sum().sort_values(ascending=False) / df_rows
na_freq = na_freq[na_freq > 0.3]

In [45]:
na_columns = na_freq.index
na_num_col, na_cat_col = num_cat_split(DF[na_columns])

Numerical columns :
[]

Categorical columns :
 ['Cabin']

In [46]:
num_col , _ = num_cat_split(DF)

Numerical columns :
['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

Categorical columns :
 ['Embarked', 'Name', 'Cabin', 'Ticket', 'Sex']

In [48]:
_ , cat_col = num_cat_split(DF)

Numerical columns :
['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

Categorical columns :
 ['Embarked', 'Name', 'Cabin', 'Ticket', 'Sex']

In [49]:
DF = featuring(DF)
DF

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   nan        S
1           1       1  female  38.0      1      0  71.2833     C        C
2           1       3  female  26.0      0      0   7.9250   nan        S
3           1       1  female  35.0      1      0  53.1000     C        S
4           0       3    male  35.0      0      0   8.0500   nan        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   nan        S
887         1       1  female  19.0      0      0  30.0000     B        S
888         0       3  female   NaN      1      2  23.4500   nan        S
889         1       1    male  26.0      0      0  30.0000     C        C
890         0       3    male  32.0      0      0   7.7500   nan        Q

[891 rows x 9 columns]

In [50]:
X = DF.drop(['Survived'], axis=1).copy()
y = DF.Survived

sample = RandomOverSampler(sampling_strategy='minority')

X_new, y_new = sample.fit_resample(X, y)

In [51]:
X_train, X_valid, y_train, y_valid = train_test_split(X_new, y_new, test_size=.2, random_state=77, stratify=y_new)

In [54]:
num_col, cat_col = num_cat_split(X)

# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('numerical_imputer', SimpleImputer(strategy='median')),
    ('quantile', QuantileTransformer(n_quantiles=100, output_distribution='normal')),
    #('robust', RobustScaler((5,95))),
    #('scaler', StandardScaler()),
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('categorical_imputer', SimpleImputer(fill_value='NA', strategy='constant')),
    ('onehot_encoder', OneHotEncoder(handle_unknown='ignore', sparse=False))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num1', numerical_transformer, num_col),
        ('cat', categorical_transformer, cat_col)
    ])

Numerical columns :
['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

Categorical columns :
 ['Embarked', 'Cabin', 'Sex']

In [55]:
X_train__transformed = preprocessor.fit_transform(X_train)
X_train__transformed

array([[ 5.19933758, -0.83442701,  0.79908276, ...,  1.        ,
         0.        ,  1.        ],
       [ 5.19933758, -2.04959427, -5.19933758, ...,  1.        ,
         1.        ,  0.        ],
       [-0.28221615, -0.28221615, -5.19933758, ...,  1.        ,
         1.        ,  0.        ],
       ...,
       [-0.28221615,  0.74673073,  0.79908276, ...,  1.        ,
         0.        ,  1.        ],
       [-5.19933758,  0.78178075, -5.19933758, ...,  0.        ,
         0.        ,  1.        ],
       [ 5.19933758,  0.01266008,  0.79908276, ...,  1.        ,
         1.        ,  0.        ]])

In [56]:
class NeuralNet(nn.Module):
    def __init__(self, input_size, hidden_size):
        super(NeuralNet, self).__init__()
        self.input = nn.Linear(input_size, hidden_size)
        self.h1 = nn.Linear(hidden_size, hidden_size // 2)
        self.h2 = nn.Linear(hidden_size // 2, 1)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()
        self.drop = nn.Dropout(0.3)

        
    def forward(self, x):
        '''Forward propagation'''
        out = self.input(x)
#         out = self.drop(out)
        out = self.relu(self.h1(out))
#         out = self.drop(out)
        out = self.sigmoid(self.h2(out))
        return out

In [57]:
input_size = X_train__transformed.shape[1]

model = NeuralNet(input_size, input_size)

In [58]:
criterion = nn.BCELoss() #Binary Cross Entropy
# optimizer = torch.optim.Adam(model.parameters(), lr=0.005)
optimizer = torch.optim.SGD(model.parameters(), lr=0.01, nesterov=True, momentum=0.8)

In [94]:
epochs = 200
batch_size = 16

# Numpy to tensor
train_sample_y = torch.from_numpy(y_train.values).float().view(-1,1)
train_sample_X = torch.from_numpy(X_train__transformed).float()

train_ds = torch.utils.data.TensorDataset(train_sample_X, train_sample_y)
train_loader = torch.utils.data.DataLoader(dataset=train_ds, batch_size=batch_size, shuffle=True)

In [95]:
total_steps = len(train_loader)
for epoch in range(epochs):
    total_loss = 0
    model.train()
    for i, (features, labels) in enumerate(train_loader):
        
        optimizer.zero_grad()
        outputs = model(features) #forward propagation
        
        loss = criterion(outputs, labels) 
        
        # backward propagation
        loss.backward()
        optimizer.step()
        total_loss += loss.data.item()
    print("Epoch: {}, BCELoss: {}".format(epoch, total_loss / len(train_loader)))

Epoch: 0, BCELoss: 0.3151511212641543
Epoch: 1, BCELoss: 0.3074849165298722
Epoch: 2, BCELoss: 0.30181280252608383
Epoch: 3, BCELoss: 0.31549546420574187
Epoch: 4, BCELoss: 0.31034158305688336
Epoch: 5, BCELoss: 0.3130348047072237
Epoch: 6, BCELoss: 0.31271033950827337
Epoch: 7, BCELoss: 0.30975683317943054
Epoch: 8, BCELoss: 0.31015641303224994
Epoch: 9, BCELoss: 0.31632099564779886
Epoch: 10, BCELoss: 0.3178364726630124
Epoch: 11, BCELoss: 0.3176340359178456
Epoch: 12, BCELoss: 0.31144479716365986
Epoch: 13, BCELoss: 0.31084369962865654
Epoch: 14, BCELoss: 0.305103592032736
Epoch: 15, BCELoss: 0.3169666520573876
Epoch: 16, BCELoss: 0.3138429441235282
Epoch: 17, BCELoss: 0.30695190903815356
Epoch: 18, BCELoss: 0.31217921552332967
Epoch: 19, BCELoss: 0.3057590183886615
Epoch: 20, BCELoss: 0.2988995126702569
Epoch: 21, BCELoss: 0.31231021041219886
Epoch: 22, BCELoss: 0.31616709367795426
Epoch: 23, BCELoss: 0.3120511289347302
Epoch: 24, BCELoss: 0.3098180036653172
Epoch: 25, BCELoss: 0.3139423999596726
Epoch: 26, BCELoss: 0.31537153720855715
Epoch: 27, BCELoss: 0.3159703104333444
Epoch: 28, BCELoss: 0.31322483880953356
Epoch: 29, BCELoss: 0.3067910241809758
Epoch: 30, BCELoss: 0.31050646670840004
Epoch: 31, BCELoss: 0.31529701812700794
Epoch: 32, BCELoss: 0.30889163491400806
Epoch: 33, BCELoss: 0.31053726686672734
Epoch: 34, BCELoss: 0.30777375400066376
Epoch: 35, BCELoss: 0.31841261413964356
Epoch: 36, BCELoss: 0.3086286357857964
Epoch: 37, BCELoss: 0.30892052122137764
Epoch: 38, BCELoss: 0.30911249315196815
Epoch: 39, BCELoss: 0.3034838798371228
Epoch: 40, BCELoss: 0.3152741028503938
Epoch: 41, BCELoss: 0.3075387040322477
Epoch: 42, BCELoss: 0.30716533918272365
Epoch: 43, BCELoss: 0.31092440634965895
Epoch: 44, BCELoss: 0.3181497804143212
Epoch: 45, BCELoss: 0.3115844761783427
Epoch: 46, BCELoss: 0.31515342606739566
Epoch: 47, BCELoss: 0.30573962357911194
Epoch: 48, BCELoss: 0.31426132307811216
Epoch: 49, BCELoss: 0.30882369604977694
Epoch: 50, BCELoss: 0.30888410061597826
Epoch: 51, BCELoss: 0.3108929048207673
Epoch: 52, BCELoss: 0.3078251066533002
Epoch: 53, BCELoss: 0.30402497906576503
Epoch: 54, BCELoss: 0.3164778624068607
Epoch: 55, BCELoss: 0.31480490429834884
Epoch: 56, BCELoss: 0.3078484383496371
Epoch: 57, BCELoss: 0.30990520336411215
Epoch: 58, BCELoss: 0.3186061837456443
Epoch: 59, BCELoss: 0.3094420112669468
Epoch: 60, BCELoss: 0.3126926224340092
Epoch: 61, BCELoss: 0.29843651286580347
Epoch: 62, BCELoss: 0.3110564378174869
Epoch: 63, BCELoss: 0.313111994212324
Epoch: 64, BCELoss: 0.3052239969372749
Epoch: 65, BCELoss: 0.30513230101628736
Epoch: 66, BCELoss: 0.307687713409012
Epoch: 67, BCELoss: 0.30910684791478243
Epoch: 68, BCELoss: 0.3073619712482799
Epoch: 69, BCELoss: 0.3111062693324956
Epoch: 70, BCELoss: 0.3128706853498112
Epoch: 71, BCELoss: 0.32439505078575825
Epoch: 72, BCELoss: 0.30771012116562235
Epoch: 73, BCELoss: 0.30752679807218636
Epoch: 74, BCELoss: 0.3115673369982026
Epoch: 75, BCELoss: 0.31135472438552164
Epoch: 76, BCELoss: 0.3096416717225855
Epoch: 77, BCELoss: 0.3019550563259558
Epoch: 78, BCELoss: 0.3103434444828467
Epoch: 79, BCELoss: 0.3110087661580606
Epoch: 80, BCELoss: 0.3071913608773188
Epoch: 81, BCELoss: 0.3185617115009915
Epoch: 82, BCELoss: 0.3129201336340471
Epoch: 83, BCELoss: 0.3288342314687642
Epoch: 84, BCELoss: 0.308382210270925
Epoch: 85, BCELoss: 0.31485037126324394
Epoch: 86, BCELoss: 0.3058797163042155
Epoch: 87, BCELoss: 0.3077235188673843
Epoch: 88, BCELoss: 0.318000666661696
Epoch: 89, BCELoss: 0.3120344241911715
Epoch: 90, BCELoss: 0.3110353086482395
Epoch: 91, BCELoss: 0.30810045017437504
Epoch: 92, BCELoss: 0.311461381343278
Epoch: 93, BCELoss: 0.30706469904292716
Epoch: 94, BCELoss: 0.301348103582859
Epoch: 95, BCELoss: 0.3100659787654877
Epoch: 96, BCELoss: 0.3158158678900112
Epoch: 97, BCELoss: 0.31487738246267494
Epoch: 98, BCELoss: 0.3072036451236768
Epoch: 99, BCELoss: 0.30792288251898503
Epoch: 100, BCELoss: 0.30643285418098626
Epoch: 101, BCELoss: 0.3096888375553218
Epoch: 102, BCELoss: 0.3155656471848488
Epoch: 103, BCELoss: 0.3045195064761422
Epoch: 104, BCELoss: 0.3113949664614417
Epoch: 105, BCELoss: 0.31095578460530804
Epoch: 106, BCELoss: 0.3057542292909189
Epoch: 107, BCELoss: 0.309053851867264
Epoch: 108, BCELoss: 0.3153449856422164
Epoch: 109, BCELoss: 0.31492852758277545
Epoch: 110, BCELoss: 0.3213685989379883
Epoch: 111, BCELoss: 0.3041315850886432
Epoch: 112, BCELoss: 0.3095108702778816
Epoch: 113, BCELoss: 0.31393814466216347
Epoch: 114, BCELoss: 0.316820454462008
Epoch: 115, BCELoss: 0.3109294261444699
Epoch: 116, BCELoss: 0.31022844991900705
Epoch: 117, BCELoss: 0.303940013051033
Epoch: 118, BCELoss: 0.3089651958508925
Epoch: 119, BCELoss: 0.3110508153384382
Epoch: 120, BCELoss: 0.31865485324101017
Epoch: 121, BCELoss: 0.3109312741593881
Epoch: 122, BCELoss: 0.3131567447022958
Epoch: 123, BCELoss: 0.3108255895701322
Epoch: 124, BCELoss: 0.3167997625741092
Epoch: 125, BCELoss: 0.3058131834322756
Epoch: 126, BCELoss: 0.3093709162690423
Epoch: 127, BCELoss: 0.31879069060087206
Epoch: 128, BCELoss: 0.3016830036585981
Epoch: 129, BCELoss: 0.30869941982355986
Epoch: 130, BCELoss: 0.3094702276316556
Epoch: 131, BCELoss: 0.3091894861649383
Epoch: 132, BCELoss: 0.3078998900272629
Epoch: 133, BCELoss: 0.31599509993737396
Epoch: 134, BCELoss: 0.3101830066605048
Epoch: 135, BCELoss: 0.31324096288193354
Epoch: 136, BCELoss: 0.30945665727962146
Epoch: 137, BCELoss: 0.3055147595703602
Epoch: 138, BCELoss: 0.31963165524331005
Epoch: 139, BCELoss: 0.31707254282452846
Epoch: 140, BCELoss: 0.3064453822645274
Epoch: 141, BCELoss: 0.31142498471520164
Epoch: 142, BCELoss: 0.31513746123422276
Epoch: 143, BCELoss: 0.31374137550592424
Epoch: 144, BCELoss: 0.30781087577342986
Epoch: 145, BCELoss: 0.3105467281558297
Epoch: 146, BCELoss: 0.30226415178992533
Epoch: 147, BCELoss: 0.3212569865313443
Epoch: 148, BCELoss: 0.3132813188162717
Epoch: 149, BCELoss: 0.31133043576370584
Epoch: 150, BCELoss: 0.3077687606215477
Epoch: 151, BCELoss: 0.3133646989410574
Epoch: 152, BCELoss: 0.32019068944183265
Epoch: 153, BCELoss: 0.306871381808411
Epoch: 154, BCELoss: 0.3087708782065998
Epoch: 155, BCELoss: 0.31240663426843557
Epoch: 156, BCELoss: 0.30983266762711786
Epoch: 157, BCELoss: 0.31345414756373924
Epoch: 158, BCELoss: 0.30842844220724974
Epoch: 159, BCELoss: 0.30681754621592433
Epoch: 160, BCELoss: 0.29954697144302456
Epoch: 161, BCELoss: 0.3082875286990946
Epoch: 162, BCELoss: 0.3027781147848476
Epoch: 163, BCELoss: 0.3001559875228188
Epoch: 164, BCELoss: 0.30044641562483526
Epoch: 165, BCELoss: 0.32068313576958396
Epoch: 166, BCELoss: 0.32147271010008727
Epoch: 167, BCELoss: 0.29907997778870843
Epoch: 168, BCELoss: 0.3131646031683141
Epoch: 169, BCELoss: 0.3128323463553732
Epoch: 170, BCELoss: 0.3058809580450708
Epoch: 171, BCELoss: 0.3109459466554902
Epoch: 172, BCELoss: 0.30795199478214436
Epoch: 173, BCELoss: 0.30631968954747374
Epoch: 174, BCELoss: 0.3092402488670566
Epoch: 175, BCELoss: 0.3083292806013064
Epoch: 176, BCELoss: 0.30921046462926
Epoch: 177, BCELoss: 0.30664489553733304
Epoch: 178, BCELoss: 0.31883968602527274
Epoch: 179, BCELoss: 0.30828130881894716
Epoch: 180, BCELoss: 0.3164400125091726
Epoch: 181, BCELoss: 0.3126064412295818
Epoch: 182, BCELoss: 0.31221822676333516
Epoch: 183, BCELoss: 0.31398528827862304
Epoch: 184, BCELoss: 0.3113245797428218
Epoch: 185, BCELoss: 0.3064120346849615
Epoch: 186, BCELoss: 0.3139666359532963
Epoch: 187, BCELoss: 0.31116776303811505
Epoch: 188, BCELoss: 0.3045191000808369
Epoch: 189, BCELoss: 0.3142045569690791
Epoch: 190, BCELoss: 0.3041184296662157
Epoch: 191, BCELoss: 0.3146265704523433
Epoch: 192, BCELoss: 0.304966228929433
Epoch: 193, BCELoss: 0.31266406178474426
Epoch: 194, BCELoss: 0.30882400667125526
Epoch: 195, BCELoss: 0.3096231470053846
Epoch: 196, BCELoss: 0.3127587161280892
Epoch: 197, BCELoss: 0.30706614262678406
Epoch: 198, BCELoss: 0.31794676089828666
Epoch: 199, BCELoss: 0.3015399896285751

In [96]:
X_valid__transformed = preprocessor.transform(X_valid).astype('float32')

#predictions
# model.eval()
preds = model(torch.from_numpy(X_valid__transformed)).squeeze().detach().numpy().round()

# model performence
print(classification_report(y_valid, preds))

              precision    recall  f1-score   support

           0       0.82      0.94      0.88       110
           1       0.93      0.80      0.86       110

    accuracy                           0.87       220
   macro avg       0.88      0.87      0.87       220
weighted avg       0.88      0.87      0.87       220

In [97]:
# Save
torch.save(model.state_dict(), 'titanic_model.pth')

# Load
_model = NeuralNet(input_size, input_size)
_model.load_state_dict(torch.load('titanic_model.pth'))
_model.eval()

NeuralNet(
  (input): Linear(in_features=19, out_features=19, bias=True)
  (h1): Linear(in_features=19, out_features=9, bias=True)
  (h2): Linear(in_features=9, out_features=1, bias=True)
  (relu): ReLU()
  (sigmoid): Sigmoid()
  (drop): Dropout(p=0.3, inplace=False)
)

In [98]:
#predictions
_preds = _model(torch.from_numpy(X_valid__transformed)).squeeze().detach().numpy().round()

# model performence
print(classification_report(y_valid, _preds))

              precision    recall  f1-score   support

           0       0.82      0.94      0.88       110
           1       0.93      0.80      0.86       110

    accuracy                           0.87       220
   macro avg       0.88      0.87      0.87       220
weighted avg       0.88      0.87      0.87       220

In [99]:
X_test = pd.read_csv('./test.csv')
Id = X_test['PassengerId']
X_test = featuring(X_test)
X_test = preprocessor.transform(X_test).astype('float32')
preds_test = model(torch.from_numpy(X_test)).squeeze().detach().numpy().round().astype('int')
# Save test predictions to file
output = pd.DataFrame({'PassengerId': Id,
                       'Survived': preds_test})
output

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [100]:
output.to_csv('titanic_submission.csv', index=False)